*~
/MHTML/ckb-text.xsl
/MHTML/ckb-text.xsltxt
/MHTML/del-attr.xsltxt
/MHTML/doc.xsl
/MHTML/doc.xsltxt
/MHTML/foo.idx
/MHTML/foo.xml
/MHTML/miz.xsl
/MHTML/proofs/ckb1/1_1
/MHTML/test.xml
/wsm.xsl
/functors.xsltxt
/functors.xsl
/ckb104.atr.new
/propertied-constructors.xsl
/remove-properties.xsl
/strip-prop.xsl
/list-properties.xsl
/props.pl
