*~
*.xsl
/MHTML/ckb-text.xsltxt
/MHTML/del-attr.xsltxt
/MHTML/doc.xsltxt
/MHTML/foo.idx
/MHTML/foo.xml
/MHTML/proofs/ckb1/1_1
/MHTML/test.xml
/wsm.xsl
/functors.xsltxt
/ckb104.atr.new
/props.pl
/wsm-log
/xboole_0*
/xboole_1*
/funct_1*
/funct_2*