div.mhtml {
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}

div.mhtml.add {
	padding-left: 3mm;
	padding-bottom: 0mm;
	margin: 0 0 0 0;
}

div.mhtml.box {
	border-width: thin;
	border-color: blue;
	border-style: solid;
}

p.mhtml {
	margin: 0 0 0 0;
}

body.mhtml {
	font-family: monospace;
	margin: 0px;
}

a.mhtml {
	text-decoration: none
}

a.mhtml:hover {
	color: red;
}

a.mhtml.ref {
	font-size: x-small;
}

a.mhtml.ref:link {
	color: green;
}

a.mhtml.ref:hover {
	color: red;
}

a.mhtml.txt:link {
	color: black;
}

a.mhtml.txt:hover {
	color: red;
}

span.mhtml.kw {
	font-weight: bold;
}

span.mhtml.lab {
	font-style: italic;
}

span.mhtml.comment {
	font-style: italic;
}

span.mhtml.hide {
	display: none;
}

span.mhtml.p1:hover {
	color: inherit;
	background-color: #BAFFFF;
}

span.html.p2:hover {
	color: inherit;
	background-color: #FFCACA;
}

span.mhtml.p3:hover {
	color: inherit;
	background-color: #FFFFBA;
}

span.mhtml.p4:hover {
	color: inherit;
	background-color: #CACAFF;
}

span.mhtml.p5:hover {
	color: inherit;
	background-color: #CAFFCA;
}

span.mhtml.p0:hover {
	color: inherit;
	background-color: #FFBAFF;
}

.mhtml.default {
	background-color: white;
	color: black;
}

.mhtml.default:hover {
	background-color: white;
	color: black;
}

.mhtml:target {
	background: #5D9BF7;
	border: solid 1px #aaa;
}